run = [ "npm", "start" ]
entrypoint = "service/index.js"

[packager]
language = "nodejs"
ignoredPackages=[
    "socket.io",
    "socket.io-client",
    "@babel/cli",
    "@babel/core",
    "@babel/preset-env",
    "browserify",
    "buffer",
    "express",
    "parcel",
    "uglify-js",
    "@types/node",
    "node-fetch",
    "express"
]